<% layout('layout/boilerplate.ejs') %>

<div class="container">
  <h1>Complete Your Payment</h1>

  <div class="booking-details">
    <h3>Booking Details:</h3>
    <p>Field: <strong><%= field.name %></strong></p>
    <p>Date: <strong><%= booking.date.toLocaleDateString('en-CA') %></strong></p>
    <p>Time: <strong><%= minutesToHHMM(booking.start_time) %> - <%= minutesToHHMM(booking.end_time)  %></strong></p>
    <p>Total: <strong>Rp <%= booking.total_price.toLocaleString('en-CA') %></strong></p>
    <p>Expired at: <strong><%= formattedExpiredAt %></strong></p>
    <p>Status: <span class="badge bg-warning"><%= booking.status %></span></p>
  </div>

  <div class="d-flex">
    <button id="pay-button" class="btn btn-primary">Pay Now</button>

    <form action="/payment/cancel/<%= booking.booking_id %>" method="POST" class="mx-2">
      <button class="btn btn-secondary">Cancel</button>
    </form>
  </div>
</div>

<script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="<%= clientKey %>"></script>

<script>
  document.getElementById('pay-button').onclick = async function() {
    // Fetch Snap token dari server
    fetch('/payment/create', {
        method: 'POST',
        credentials: "same-origin",
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          bookingID: '<%= booking.booking_id %>'
        })
      })
      .then(response => response.json())
      .then(data => {
        console.log("Server response:", data);
        if (data.error) {
          alert('Error: ' + data.error);
          return;
        }

        // Buka Snap popup
        snap.pay(data.token, {
          onSuccess: function(result) {
            window.location.href = "/payment/success?bookingID=<%= booking.booking_id %>";
          },
          onPending: function(result) {
            window.location.href = "/payment/users/transactions-history";
          },
          onError: function(result) {
            window.location.href = "/payment/users/transactions-history";
          },
          onClose: function() {
            console.log("User closed the popup before finishing payment");
          }
        });
      })
      .catch(error => {
        console.error("Error:", error);

        alert('Payment failed to initialize, redirecting back to field');

        setTimeout(() => {
          window.location.href = "/fields/<%= field.fieldID %>";
        }, 1000);
      });

  };
</script>